html {
      background: #000;
  }
  
  h1 {
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  #giphy-form {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  #gif-area {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
  }
  
  #remove-gifs {
     align-self: center;
      width: 150px
  }
  
  #container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100vh;
  }